body {
  background-color: lightblue;
}
.site-header {
  background-color: $color__header-color;
  text-align: center;
}

.page_item {
  padding: 1em;

}

.site-content {
  background-color: $color__backdrop-main;
}
